

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-image: url(../../../public/images/mainBody-image.jpg);
  background-size: 1920px 1080px;
}

.login {
  display: flex;
  justify-content: center;
}

